<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charsetName</key>
	<string>utf-8</string>
	<key>csvContent</key>
	<array>
		<array>
			<string>1</string>
			<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sapien neque, eleifend a varius vitae, dignissim bibendum orci. Mauris sagittis mi vel risus facilisis suscipit. Mauris iaculis posuere augue, sit amet aliquet purus accumsan nec. Nunc dolor erat, ullamcorper vel placerat at, volutpat at elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer gravida tortor quis lectus faucibus aliquet. Cras porttitor viverra purus id accumsan.</string>
			<string>In hac habitasse platea dictumst. Integer ullamcorper, justo a vestibulum sollicitudin, nunc neque condimentum turpis, a accumsan ante magna quis mauris. Quisque sed molestie ligula. Donec sed enim nec purus gravida venenatis. Nullam semper consectetur tempor. Nam vitae justo mauris, accumsan adipiscing mi. Phasellus mi justo, viverra in viverra et, malesuada sed leo. Duis molestie aliquet bibendum. Nullam pharetra, ligula euismod volutpat aliquet, odio massa fermentum lorem, vel viverra arcu sapien tristique felis. Nulla arcu felis, luctus nec interdum in, lobortis sed magna.</string>
			<string>Duis quis lorem non ante laoreet tempor sit amet a velit. Etiam sollicitudin erat et mi aliquet facilisis. Donec sed magna purus. Cras mollis orci ut justo cursus interdum. Mauris vestibulum neque vel urna iaculis mattis. Proin consectetur sollicitudin metus, vitae lacinia enim aliquam euismod. Vivamus varius convallis diam, non varius justo ornare ut. Suspendisse porttitor, enim et euismod congue, enim ligula elementum justo, nec porttitor sem justo in nisi. Proin vehicula neque lorem. Quisque elementum elit rhoncus nunc rhoncus consectetur. Nunc non nibh dui, in bibendum erat. Donec suscipit, orci ut ultrices fringilla, magna dolor pretium dui, ut vehicula ipsum nulla in risus. Nulla a commodo urna. Ut rutrum, ligula non placerat semper, mi orci tincidunt est, vitae rhoncus nisl est sed enim. Phasellus egestas elementum arcu, at placerat neque imperdiet ut. Vivamus rhoncus elementum quam vel scelerisque. Sed non enim ac libero pulvinar sagittis posuere.</string>
			<string>cCSVParser bug</string>
		</array>
		<array>
			<string>2</string>
			<string>Foo , Foo</string>
			<string>Bar , Bar</string>
			<string>Three , Three</string>
			<string>Four , Four</string>
		</array>
	</array>
	<key>delimiterString</key>
	<string>,</string>
	<key>endOfLine</key>
	<string>\n</string>
</dict>
</plist>
